@import '~shared/styles/_theme.scss';

.imageView {
    background-color: map-get($colors, "black");
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 24px;
        right: 24px;

        &:focus, &:hover {
            opacity: 0.8;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}