@import '~shared/styles/_theme.scss';

.contentWithNav {
    .content {
        min-height: calc(100vh - 264px);
        margin-bottom: 24px;
    }
    .navigationButtons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 8px;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            border: 1px solid map-get($colors, "greyLight");
            border-radius: 8px;

            img {
                width: 100%;
                height: 100%;
            }

            + button {
                margin-left: 4px;
            }
            
            &:disabled {
                cursor: no-drop;
                opacity: 0.25;
            }

            &.selected {
                color: map-get($colors, "white");
                background-color: map-get($colors, "brownLight");
                font-weight: 700;
            }
        }
    }
}